.reports-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.chart-box {
  width: 700px;
  height: 350px;
}

.chart-title {
  text-align: center;
  margin-bottom: 1rem;
}
