h2.title {
    color: #50070778;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
}

.product-name {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-items {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
  padding: 2.5rem;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #ffffffa9;
  border-radius: 20px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
}

.cart-item-details {
  margin-left: 2%;
  margin-top: 2%;
  width: 100%;
}

.cart-item:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.cart-item-details button {
  margin-top: 0.5rem;
  padding: 0.6rem 1.4rem;
  background-color: #e65444;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.delete-btn {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 90%; 
}

.price-total {
  color: #299c59;
  font-size: 1.5rem;
  font-weight:bolder;
}

.cart-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
  }

.cart-item img {
    margin-left: 3%;
    margin-top: 3%;
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    border: 1px solid #ddd;
}


.btn-rent {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn-rent button {
  padding: 0.85rem 2.2rem;
  background-color: #299c59;
  color: white;
  border-radius: 12px;
  border: none;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.total-section {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #2c3e50;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.total-text {
  margin-bottom: 1.2rem;
}
