.login-page {
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
   color: #f6b2b2;
   text-shadow: 4px 4px 10px rgb(173, 38, 38);
   font-size: 200%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #500707be; 
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   width: 400px;
   height: auto;
   text-align: center;
}
.login-fundal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/luxury-brands-ep74tiqlwdhaobpn.jpg"); 
    background-size: cover;
  }
  
.login-page input {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    display: block;
    width: 90%;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    background-color:#f3dededd;
}

.cancel-btn{
    font-family: Arial, sans-serif;
    margin-left: 90%;
    color: #f6b2b2;
    background-color:#500707;
    border-color:black;
}

.login-btn{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color:#1f8e4a;
    font-size: 50%;
    border-color:#0d9f0a00;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}
.auth-btn{
    background-color:#50070700;
    border: #50070700;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:aqua;
    font-size: 1rem;
    text-decoration: underline; 
}
.error-validation{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 45%;
    border-radius: 10%;
    font-weight: bold;
    padding: 0.5%;
    text-shadow: none;
    margin-left: 5%;
}