.filter-bar{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f7d4c6b8;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    height: 27px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.filter-bar button {
    margin-right: 1%;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-size: 90%;
    border: none;
    padding: 0.5%;
    border-radius: 5px;
    background-color: #ffffff00;
}

.filter-bar button:hover{
    background-color: #ffffff79;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 coloane egale */
    gap: 20px;
    padding: 20px;
  }
  
.product-button {
    font-family: 'Courier New';
    font-weight:bold;
    font-size:1.3rem;
    color: #500707;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: #f9f9f9b8;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .product-button:hover {
    transform: scale(1.05);
  }
  .product-button img {
    width: auto;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 2%;
  }
  